<div id="login-form" style="margin-top: 150px; margin-left: 80px;">
  <h2>Customer Log In</h2>
  <form action="/customer/CustomerLogin" method="POST">

    <label>
      <input
        class="form-control"
        type="text"
        name="username"
        placeholder="Username"
        value="Ironhack"
      />
    </label>

    <label>
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
        value="Abc123!"
      />
    </label>

    <button class="btn btn-primary" type="submit">Log In</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>