<h2  class="alert alert-success" role="alert">This account has been successfully deleted from our database!</h2>
<a class="btn btn-primary" href="/manager/managerMain/courierList/">Go to
  courier list</a>