<div id="form" style="margin-top: 150px; margin-left: 90px;">
  <h2>New Manager registration form</h2>
  <form action="/manager/managerCreate" method="POST">

    <label>
      Managername
      <input
        class="form-control"
        type="text"
        name="username"
        placeholder="manager_name"
      />
    </label>

    <label>
      Email
      <input
        class="form-control"
        type="email"
        name="email"
        placeholder="newManager@gmail.com"
      />
    </label>

    <label>
      Password
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="********"
      />
    </label>

    <label>
      Password check
      <input
        class="form-control"
        type="password"
        name="password2"
        placeholder="********"
      />
    </label>

    <button class="btn btn-primary" type="submit">Create account</button>

    {{! error message will be added here }}

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

  </form>
</div>