<div id="login-form" style="margin-top: 150px; margin-left: 90px;">
  <h2>Manager Log In</h2>
  <form action="/manager/managerLogin" method="POST">

    <label>
      <input
        type="text"
        name="username"
        placeholder="manager_name"
      />
    </label>

    <label>
      <input
        type="password"
        name="password"
        placeholder="Your password"
      />
    </label>

    <button type="submit">Log In</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>