<h2
  style="margin-top: 150px; margin-left: 90px;"
  class="alert alert-success"
  role="alert"
>This account has been successfully deleted from our database!</h2>
<a href="/" style="margin-left: 90px;" class="btn btn-primary">Go to home page</a>