<h2
  style="margin-top: 150px; margin-left: 90px;"
  class="alert alert-success"
  role="alert"
>You have successfuly registered new manager account
  {{username}}!</h2>
<a
  style="margin-left: 90px;"
  class="btn btn-primary"
  href="/manager/managerLogin/"
>Go to manager log in page</a>