<h1>Create new Restaurant</h1>

<form action="/manager/managerMain/createRestaurant" method="POST">
 
    <label> Restaurant name
      <input class="form-control" type="text" name="name" placeholder="Restaurant_name" />
    </label>
 
    <label> Email
      <input class="form-control" type="email" name="email" placeholder="restaurant@email.com" />
    </label>
 
    <label> Image
      <input class="form-control" type="text" name="image" placeholder="image url" />
    </label>

       <label> Adress
      <input class="form-control" type="text" name="adress" placeholder="restaurant adress" />
    </label>
 
    <button class="btn btn-primary" type="submit" class="btn btn-primary">Create new restaurant</button>
 
    {{!-- error message will be added here --}}

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

  </form>
</div>