<div id="login-form" style="margin-top: 150px; padding: 20px">
  <div class="row justify-content-center">
    <div class="col-md-6 center-div">
      <h2
        class="alert alert-success"
        role="alert"
      >Your account has been successfully created!</h2>

      <h2>Customer Log In</h2>
      <p>You can now login and start ordring food on our system</p>
      <form action="/customer/CustomerLogin" method="POST">

        <label>
          <input
            class="form-control"
            type="text"
            name="username"
            placeholder="Username"
          />
        </label>

        <label>
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Password"
          />
        </label>

        <button class="btn btn-primary" type="submit">Log In</button>

        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </div>
</div>
