<h2>You have successfully logged out!</h2>
<a class="btn btn-secondary" href="/">Go to Home page</a>

<div id="login-form">
  <h2>Customer Log In again</h2>
  <form action="/customer/CustomerLogin" method="POST">

    <label>
      <input
        class="form-control"
        type="text"
        name="username"
        placeholder="Username"
        value="Ironhack"
      />
    </label>

    <label>
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
        value="Abc123!"
      />
    </label>

    <button class="btn btn-primary" type="submit">Log In</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>