<h2 style="margin-top: 150px; margin-left: 90px;">Your account has been
  successfully created!</h2>
<p style="margin-left: 90px;">You can now login and start ordring food on our
  system</p>

<div id="login-form" style="margin-left: 90px;">
  <h2>Customer Log In</h2>
  <p>Delete value for production</p>
  <form action="/customer/CustomerLogin" method="POST">

    <label>
      <input
        class="form-control"
        type="text"
        name="username"
        placeholder="Username"
      />
    </label>

    <label>
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
      />
    </label>

    <button class="btn btn-primary" type="submit">Log In</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>