<h2 style="margin-top: 150px; margin-left: 50px;">Your account has been
  successfully removed from our system!</h2>
<p style="margin-left: 50px;">So sad to see you go, you can create a new account
  and order dish from us at anytime.
  <a href="/">Go to home page</a></p>